@font-face {
  font-family: "robotoMono";
  src: url("./fonts/RobotoMono-Thin.ttf");
}

* {
  font-family: "robotoMono", "monospace";
}

body {
  background-color: gray;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  background:radial-gradient(circle at 50% 50%, rgba(46, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.92) 70%);
}

.Animate {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}